---
import Layout from "../layouts/Layout.astro";

let gameData;

if (!Astro.cookies.has("ruleta")) {
	let saldo = 150;
	let cookie = {"apostes":[], "jugades":[], saldo}
	Astro.cookies.set("ruleta", JSON.stringify(cookie), { path: "/" });
	return Astro.redirect("/");
} else {
	let cookie = Astro.cookies.get("ruleta");
	gameData = JSON.parse(cookie.value); // ull! el valor està a .value
}

let currentMoney = gameData.saldo;
console.log(currentMoney)
---

<Layout>
	<h2>Saldo actual: {currentMoney}</h2>
	<!--{
		for (let i = 0; i < 10; i++) {
				<a href={"/jugades/" + i}></a>
			}
		}
		
	}-->
	<table class="ruleta">
		<tr>
			<td  class="verd" rowspan="2"><a href="/jugades/0">0</a></td>
			<td class="negre"><a href="/jugades/2">2</a></td>
			<td class="negre"><a href="/jugades/4" >4</a></td>
			<td class="vermell"><a href="/jugades/6">6</a></td>
			<td class="vermell"><a href="/jugades/8">8</a></td>
			<td class="negre"><a href="/jugades/10">10</a></td>
		</tr>
		<tr>
			<td class="vermell"><a href="/jugades/1">1</a></td>
			<td class="vermell"><a href="/jugades/3">3</a></td>
			<td class="negre"><a href="/jugades/5">5</a></td>
			<td class="negre"><a href="/jugades/7">7</a></td>
			<td class="vermell"><a href="/jugades/9">9</a></td>
			
		</tr>
		<tr>
			<td colspan="3" class="verd"><a href="/jugades/parell">Parell</a></td>
			<td colspan="3" class="verd"><a href="/jugades/imparell">Imparell</a></td>
		</tr>
		<tr>
			<td colspan="3" class="verd"><a href="/jugades/vermell">Vermell</a></td>
			<td colspan="3" class="verd"><a href="/jugades/negre">Negre</a></td>
		</tr>
	</table>
	<h2><a href="neteja">Reinicia el saldo i les jugades</a></h2>
</Layout>
