---
import Layout from "../layouts/Layout.astro";

let gameData;

// Comprobar si existe la cookie, y si no, crearla
if (!Astro.cookies.has("ruleta")) {
	let saldo = 150;
	let cookie = { apostes: [], jugades: [], saldo };
	Astro.cookies.set("ruleta", JSON.stringify(cookie), { path: "/" });
	return Astro.redirect("/");
} else {
	let cookie = Astro.cookies.get("ruleta");
	gameData = JSON.parse(cookie.value); // ull! el valor està a .value
}

// Visibildiad de la ruleta si se supera el mínimo de saldo permitido
let ruletaDisplay = "initial";
let messageDisplay = "none";

if (gameData.saldo < 10) {
	ruletaDisplay = "none";
	messageDisplay = "block";
}

// Cambiar de color las monedas con las jugadas
const negres = [2, 4, 5, 7, 10];

function getColor(jugada) {
	if (negres.includes(jugada)) {
		return "negre";
	} else {
		return "vermell";
	}
}

---

<Layout>
	<h2>Saldo actual: {gameData.saldo}</h2>
	<h1 style=`color: red; display: ${messageDisplay};`>Fi del joc</h1>
	<table class="ruleta" style=`display: ${ruletaDisplay};`>
		<tr>
			<td class="verd" rowspan="2"><a href="/jugades/0">0</a></td>
			<td class="negre"><a href="/jugades/2">2</a></td>
			<td class="negre"><a href="/jugades/4">4</a></td>
			<td class="vermell"><a href="/jugades/6">6</a></td>
			<td class="vermell"><a href="/jugades/8">8</a></td>
			<td class="negre"><a href="/jugades/10">10</a></td>
		</tr>
		<tr>
			<td class="vermell"><a href="/jugades/1">1</a></td>
			<td class="vermell"><a href="/jugades/3">3</a></td>
			<td class="negre"><a href="/jugades/5">5</a></td>
			<td class="negre"><a href="/jugades/7">7</a></td>
			<td class="vermell"><a href="/jugades/9">9</a></td>
		</tr>
		<tr>
			<td colspan="3" class="verd"
				><a href="/jugades/parell">Parell</a></td
			>
			<td colspan="3" class="verd"
				><a href="/jugades/imparell">Imparell</a></td
			>
		</tr>
		<tr>
			<td colspan="3" class="vermell"
				><a href="/jugades/vermell">Vermell</a></td
			>
			<td colspan="3" class="negre"><a href="/jugades/negre">Negre</a></td
			>
		</tr>
	</table>
	<h1>Jugades de la ruleta</h1>
	<div class="resultats">
		{
			gameData.jugades.map((jugada) => (
				<div class={getColor(jugada) + " coin"}>{jugada}</div>
			))
		}
	</div>
	<h2><a href="neteja">Reinicia el saldo i les jugades</a></h2>
</Layout>
