---
import Layout from "../layouts/Layout.astro";

let gameData;

if (!Astro.cookies.has("ruleta")) {
	Astro.cookies.set("ruleta", JSON.stringify([]), { path: "/" });
	return Astro.redirect("/");
} else {
	let cookie = Astro.cookies.get("ruleta");
	gameData = JSON.parse(cookie.value); // ull! el valor està a .value
}

let currentMoney = 150;

if (gameData.length !== 0) {
	for(let i = 0; i < gameData.length; i++) {
		currentMoney += gameData[i].prize;
	}
}
---

<Layout>
	<h1>Ruleta</h1>
	<h2>Saldo actual</h2>
	<p>{currentMoney}</p>
	<h2>Jugades</h2>
	<h3>Aposta a un numero</h3>
	<!--{
		for (let i = 0; i < 10; i++) {
				<a href={"/jugades/" + i}></a>
			}
		}
		
	}-->
	<a href="/jugades/1">1</a>
	<a href="/jugades/2">2</a>
	<a href="/jugades/3">3</a>
	<a href="/jugades/4">4</a>
	<a href="/jugades/5">5</a>
	<a href="/jugades/6">6</a>
	<a href="/jugades/7">7</a>
	<a href="/jugades/8">9</a>
	<a href="/jugades/10">10</a>
	<h3>Aposta parell / imparell</h3>
	<a href="/jugades/parell">Parell</a>
	<a href="/jugades/imparell">Imparell</a>
	<h3>Aposta vermell / negre</h3>
	<a href="/jugades/vermell">Vermell</a>
	<a href="/jugades/negre">Negre</a>

	<table class="ruleta">
		<tr>
			<td  class="verd" rowspan="2"><a href="/jugades/0">0</a></td>
			<td class="negre"><a href="/jugades/2">2</a></td>
			<td class="negre"><a href="/jugades/4" >4</a></td>
			<td class="vermell"><a href="/jugades/6">6</a></td>
			<td class="vermell"><a href="/jugades/8">8</a></td>
			<td class="negre"><a href="/jugades/10">10</a></td>
		</tr>
		<tr>
			<td class="vermell"><a href="/jugades/1">1</a></td>
			<td class="vermell"><a href="/jugades/3">3</a></td>
			<td class="negre"><a href="/jugades/5">5</a></td>
			<td class="negre"><a href="/jugades/7">7</a></td>
			<td class="vermell"><a href="/jugades/9">9</a></td>
			
		</tr>
		<tr>
			<td colspan="3" class="verd"><a href="/jugades/parell">Parell</a></td>
			<td colspan="3" class="verd"><a href="/jugades/imparell">Imparell</a></td>
		</tr>
		<tr>
			<td colspan="3" class="verd"><a href="/jugades/vermell">Vermell</a></td>
			<td colspan="3" class="verd"><a href="/jugades/negre">Negre</a></td>
		</tr>
	</table>
</Layout>
