---
import Layout from "../../layouts/Layout.astro";

let cookie = Astro.cookies.get("ruleta");

const vermells = [1,3,6,8,9]
const negres = [2,4,5,7,10]

function calculatePrize(jugadaPlayer, jugadaRuleta) {
    if (isNaN(jugadaPlayer)) {
        if (jugadaRuleta !== 0) {
            if ((jugadaRuleta % 2 === 0 && jugadaPlayer === "parell") || (jugadaRuleta % 2 !== 0 && jugadaPlayer === "imparell")) {
                return 20
            } else if((vermells.includes(jugadaRuleta) && jugadaPlayer === "vermell") || (negres.includes(jugadaRuleta) && jugadaPlayer === "negre")) {
                return 20
            }
        } else {
            return -20
        }
    } else if(parseInt(jugadaPlayer) === jugadaPlayer) {
        return 10
    } else {
        return -10
    }
}

function randomizeRoulette() {
    return Math.floor(Math.random() * 10);
}

function updateCookie(jugadaPlayer, jugadaRuleta, prize) {
    let cookie = Astro.cookies.get("ruleta");
    let cookieData = JSON.parse(cookie.value);
    console.log(cookieData)
    console.log({"jugadaPlayer": jugadaPlayer, "jugadaRuleta": jugadaRuleta, "prize": prize})
    cookieData.apostes.push(jugadaPlayer);
    cookieData.jugades.push(jugadaRuleta);
    cookieData.saldo += prize;
    Astro.cookies.set("ruleta", JSON.stringify(cookieData), { path: '/' });
}

const {jugada} = Astro.params;

console.log(jugada)

const jugadaRuleta = randomizeRoulette();

let prize = calculatePrize(jugada, jugadaRuleta);

updateCookie(jugada, jugadaRuleta, prize);

//return Astro.redirect('/');
---
<Layout>
    <h2>Jugada del usuari: {jugada}</h2>
    <h2>Jugada del PC: {jugadaRuleta}</h2>
    <h3>Guanys: {prize}</h3>
    <a href="/">Torna a l'inici</a>
</Layout>