body {
    text-align: center;
    background-image: url("/img/casino.jpg");
    background-attachment: fixed;
    background-size: cover;
}

div.principal {
    background-color: rgba(240, 248, 255, 0.56);
    width: 800px;
    margin: 0 auto;
    padding: 30px;
}

table.ruleta {
    font-size: 20px;
    color: white;
    margin: 0 auto;
}

.ruleta a {
    text-decoration: none;
    color: white;
}

.ruleta td {
    border: 3px solid white;
    border-collapse: collapse;
    padding: 20px;
}

.ruleta td.negre {
    background-color: black;
}

.ruleta td.vermell {
    background-color: red;
}

.ruleta td.verd {
    background-color: green;
}

div.resultats {
    width: 600px;
    font-size: 22px;
    color: white;
    margin: 30px auto;
}

div.coin {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 40px;
    background-color: black;
    padding: 10px;
    margin: 5px;
}

div.resultats div.vermell {
    background-color: red;
}

div.resultats div.negre {
    background-color: black;
}